body {
    font-family: 'Roboto', sans-serif;
}


.landing-page {
    height: 100vh;
    background-color: rgb(218, 218, 194);
    margin: 0 auto;
}

.offer {
    height: 100vh;
    background-color: rgb(190, 183, 196);
    
}